# Ignore vscode env directory
.vscode/

# Ignore resources directory
/AzureInfrastructure/.terraform

# Ignore build directory
/ArduinoHardware/ArduinoOutput

# Ignore secrets
ArduinoHardware/MKR Wifi 1010/arduino_secrets.h

# Ignore Terraform files
*.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# Ignore build files
*.[oda]
